.login {
  input {
    display: block;
    margin: 10px auto;

    border: 0;
    padding: 10px;

    &:not([type='submit']) {
      width: 240px;
      margin-bottom: 20px;

      border-bottom: solid #009879 1px;

      font-size: 16px;
      text-indent: 10px;
      outline: none;

      // color: transparent;
      // text-shadow: 0 0 0 black;
    }

    &[type='submit'] {
      width: 80px;
      height: 40px;

      border-radius: 5px;

      color: white;
      background-color: #009879;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  button {
    width: 80px;
    height: 40px;

    margin: 10px;

    border: 0;
    border-radius: 5px;
    background-color: white;
    outline: none;
    cursor: pointer;

    transition: color 1s ease-in-out;
  }

  .act {
    color: white;
    background-color: #009879;
  }
}
