.cleaning {
  .byRoom {
    margin-bottom: 10px;
    table {
      width: 400px;

      margin: 0 auto;

      box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px;
      border-collapse: collapse;
      border: solid #009879 1px;
      border-radius: 5px;

      thead {
        tr {
          height: 40px;
          background-color: #009879;
          color: #ffffff;
        }
      }

      tbody {
        tr {
          height: 40px;
        }
      }

      th {
        padding: 4px 5px;
      }

      td {
        padding: 4px 5px;
      }
    }
  }

  .inRoom {
    table {
      width: 800px;

      margin: 0 auto;

      box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px;
      border-collapse: collapse;
      border: solid #009879 1px;
      border-radius: 5px;

      thead {
        tr {
          height: 40px;
          background-color: #009879;
          color: #ffffff;
        }
      }
      tbody {
        tr {
          height: 40px;

          th {
            width: 150px;
            font-size: auto;
          }

          td {
            width: 70px;
            padding: 4px 5px;

            border-radius: 2px;

            // &:hover {
            //   * {
            //     color: white;
            //     background-color: #009879;

            //     * {
            //       color: black;
            //       background-color: white;
            //     }
            //   }
            //   color: white;
            //   background-color: #009879;
            // }
          }
        }
      }

      th {
        padding: 4px 5px;
      }
    }

    select {
      padding: 2px 3px;

      appearance: none;
      -webkit-appearance: none;

      border: 0;
      outline: none;
      cursor: pointer;
    }
  }
}
