.box {
  button {
    width: 200px;
    height: 100px;

    margin: 10px;

    border: 0;
    border-radius: 5px;

    font-size: 60px;
    color: white;
    background-color: #009879;
    outline: none;
    cursor: pointer;

    font-family: 'ROKABold';

    &:hover {
      background-color: red;
    }
  }
}
