.header {
  position: relative;

  width: 840px;
  height: 48px;

  margin: 0 auto;
  label {
    float: right;
    margin: auto 12px;
  }

  button {
    float: right;
  }
  background-color: rgb(119, 119, 119);
}
